<%=  form_for @session do |f| %>
    <p>
        <%= f.label :title %>
        <%= f.text_field :title %>
        <% if @session.errors.any? %>
			<span><%= @session.errors.full_messages[0] %></span>
        <% end %>
    </p>
    <p>
        <%= f.label :text %>
        <%= f.text_area :text %>
    </p>
    <p>
        <%= f.submit %>
    </p>
<% end %>
